<div class="container">
  <div>
    <input type="text" placeholder="Search here..." [(ngModel)]="inputValue" />

    <button (click)="searchBoxValue()">Search</button>
  </div>
  <ng-container *ngIf="employeedata | filter : searchBoxVal as employeedata">
    <table *ngIf="employeedata.length > 0">
      <tr>
        <th *ngFor="let heading of tableHeading">{{ heading }}</th>
      </tr>

      <tr *ngFor="let employeedata of employeedata">
        <th>{{ employeedata.name }}</th>
        <th>{{ employeedata.email }}</th>
        <th>{{ employeedata.phone }}</th>
        <th>{{ employeedata.address }}</th>
        <th>{{ employeedata.gender }}</th>
      </tr>
    </table>
    <p *ngIf="employeedata.length === 0">Data not found</p>
  </ng-container>
</div>
<router-outlet></router-outlet>
